<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".push.AttentivePush$PermissionRequestActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <service
            android:name="com.attentive.androidsdk.AttentiveSettingsService"
            android:exported="true"
            tools:ignore="ExportedService" />

        <receiver android:name=".push.NotificationTapReceiver" android:exported="true">

        <intent-filter>
            <action android:name="com.attentive.androidsdk.push.TAPPED" />
        </intent-filter>
        </receiver>

        <service
            android:name="com.attentive.androidsdk.push.AttentiveFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>


</manifest>